/* バージョン1.2（"unlocked.microsoft.com"が削除された後にフォントを別のものに代替する予定です） */
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&family=Noto+Sans+SC:wght@400;700&family=Noto+Sans+Arabic:wght@400;700&family=Noto+Sans+KR:wght@400;700&family=Noto+Sans+TC:wght@400;700&display=swap');
@font-face {
  font-family: "Segoe Sans Serif";
  src:
  url("https://unlocked.microsoft.com/wp-content/themes/unlocked-theme/dist/ec12d6d05437a5eb2c5a.woff") format("woff"),
  url("https://unlocked.microsoft.com/wp-content/themes/unlocked-theme/dist/dc5de3f434e7711d6275.ttf") format("truetype");
  ont-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Segoe Sans Serif";
  src:
  url("https://unlocked.microsoft.com/wp-content/themes/unlocked-theme/dist/a924717fe102c8481053.woff") format("woff"),
  url("https://unlocked.microsoft.com/wp-content/themes/unlocked-theme/dist/0f5cc00059a4e27bef03.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Segoe Sans Serif";
  src:
  url("https://unlocked.microsoft.com/wp-content/themes/unlocked-theme/dist/bf7c89186613b23adfbd.woff") format("woff"),
  url("https://unlocked.microsoft.com/wp-content/themes/unlocked-theme/dist/4f8bd099374af316ba59.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
body,html,table,p {
  font-family: "Segoe Sans Serif","BIZ UDPGothic","Noto Sans SC","Noto Sans TC","Noto Sans KR","Noto Sans Arabic",sans-serif;
  font-weight: 400;
}
B,strong,thead,h1,h2,h3,h4,h5,h6 {
  font-family: "Segoe Sans Serif","BIZ UDPGothic","Noto Sans SC","Noto Sans TC","Noto Sans KR","Noto Sans Arabic",sans-serif;
  font-weight: 600;
}
/*/ color /*/
body {
  --primary:#0061a6;
  --on-primary:#ffffff;
  --primary-container:#d0e4ff;
  --on-primary-container:#001d36;
  --secondary:#535f70;
  --on-secondary:#ffffff;
  --secondary-container:#d6e3f7;
  --on-secondary-container:#101c2b;
  --tertiary:#6b5778;
  --on-tertiary:#ffffff;
  --tertiary-container:#f3daff;
  --on-tertiary-container:#251432;
  --error:#ba1b1b;
  --error-container:#ffdad4;
  --on-error:#ffffff;
  --on-error-container:#410001;
  --background:#fdfcff;
  --on-background:#1b1b1b;
  --surface:#fdfcff;
  --on-surface:#1b1b1b;
  --surface-variant:#dfe2eb;
  --on-surface-variant:#42474e;
  --outline:#73777f;
  --inverse-on-surface:#f1f0f4;
  --inverse-surface:#2f3033;
  --inverse-primary:#9ccaff;
  --shadow:#000000;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}