@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Arabic:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Google+Sans+Mono:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Google+Sans+Text:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Google+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
    font-family: "F+UD-ニューロダン";
    src: url('https://aoy190420.github.io/web-font/F+UD/NewRodin/WOFF/F+UD-NewRodin-M.woff');
    width: 400;
}
@font-face {
    font-family: "F+UD-ニューロダン";
    src: url('https://aoy190420.github.io/web-font/F+UD/NewRodin/WOFF/F+UD-NewRodin-DB.woff');
    width: 700;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 12px;
}
h6 {
    font-size: 10px;
}
*,input,div,span,select,body,html,nav,button,label,option,#font,.container {
    font-family: "F+UD-ニューロダン","Google Sans Text","M Plus 2","Noto Sans SC","Noto Sans TC","Noto Sans KR","Noto Sans Arabic",sans-serif;
    font-weight: 400;
}
B,strong,thead,h1,h2,h3,h4,h5,h6,.bold {
    font-family: "F+UD-ニューロダン","Google Sans","M Plus 2","Noto Sans SC","Noto Sans TC","Noto Sans KR","Noto Sans Arabic",sans-serif;
    font-weight: 700;
}
body {
    --primary:#0061a6;--on-primary:#ffffff;--primary-container:#d0e4ff;--on-primary-container:#001d36;--secondary:#535f70;--on-secondary:#ffffff;--secondary-container:#d6e3f7;--on-secondary-container:#101c2b;--tertiary:#6b5778;--on-tertiary:#ffffff;--tertiary-container:#f3daff;--on-tertiary-container:#251432;--error:#ba1b1b;--error-container:#ffdad4;--on-error:#ffffff;--on-error-container:#410001;--background:#fdfcff;--on-background:#1b1b1b;--surface:#fdfcff;--on-surface:#1b1b1b;--surface-variant:#dfe2eb;--on-surface-variant:#42474e;--outline:#73777f;--inverse-on-surface:#f1f0f4;--inverse-surface:#2f3033;--inverse-primary:#9ccaff;--shadow:#000000;
}
