@font-face {
  font-family: "コーポレート・ロゴ ver2";
  src: url('https://aoy190420.github.io/web-font/corporate/logo/Woff2/Corporate-Logo-Bold-ver2.woff2');
  font-weight: 700;
}
@font-face {
  font-family: "コーポレート・ロゴ ver2";
  src: url('https://aoy190420.github.io/web-font/corporate/logo/Woff2/Corporate-Logo-Medium-ver2.woff2');
  font-weight: 400;
}
* {
  font-family: "コーポレート・ロゴ ver2",sans-serif;
  font-weight: 400;
}
B,strong,thead,h1,h2,h3,h4,h5,h6,.bold {
  font-family: "コーポレート・ロゴ ver2",sans-serif;
  font-weight: 700;
}
/*/ color /*/
body {
  --primary:#0061a6;
  --on-primary:#ffffff;
  --primary-container:#d0e4ff;
  --on-primary-container:#001d36;
  --secondary:#535f70;
  --on-secondary:#ffffff;
  --secondary-container:#d6e3f7;
  --on-secondary-container:#101c2b;
  --tertiary:#6b5778;
  --on-tertiary:#ffffff;
  --tertiary-container:#f3daff;
  --on-tertiary-container:#251432;
  --error:#ba1b1b;
  --error-container:#ffdad4;
  --on-error:#ffffff;
  --on-error-container:#410001;
  --background:#fdfcff;
  --on-background:#1b1b1b;
  --surface:#fdfcff;
  --on-surface:#1b1b1b;
  --surface-variant:#dfe2eb;
  --on-surface-variant:#42474e;
  --outline:#73777f;
  --inverse-on-surface:#f1f0f4;
  --inverse-surface:#2f3033;
  --inverse-primary:#9ccaff;
  --shadow:#000000;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}